@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800;
  }
}

@layer components {
  .task-enter {
    opacity: 0;
    transform: translateY(10px);
  }
  .task-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .task-exit {
    opacity: 1;
  }
  .task-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
}